.contentBox {
    padding-left: 0 !important;
}

.searchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
    align-self: flex-start;
    margin-top: 24px;
    margin-bottom: 12px;
}

.blogBox-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.blogBoxCard>.blog-title {
    margin-top: 12px;
}

.blogBoxCard>.description {
    overflow: hidden;
    text-overflow: ellipsis;
}

.blogBoxCard .image {
    margin-top: 8px;
}

.blogBoxCard>.link {
    margin-top: auto;
}

@media only screen and (min-width: 1024px) {
    .blogBoxCard {
        width: calc(100% / 2 - 12px) !important;
        height: 500px;
    }
}

@media only screen and (min-width: 0) and (max-width: 1023.99px) {
    .blogBoxCard {
        width: 100%;
        height: fit-content;
    }

    .searchBox {
        margin-left: 8px;
        align-self: flex-start;
    }
}